<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pogodynka c52524</name>
    <description>Pogodynka prezentująca pogodę</description>
    <author email="kw52524@zut.edu.pl" href="https://cordova.apache.org">
        Klimczewski Wojciech
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="electron">
        <icon src="res/electron/cloud.png" />
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
</widget>
